<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="banyan.com.gemcrm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".appcontroller.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.Activity_Login"
            android:label="@string/app_name"></activity>

        <activity
            android:name=".activity.Activity_Enquiry_Add"
            android:label="Add Enquiry"></activity>
        <activity
            android:name=".activity.Activity_Appoinment_Add"
            android:label="Add Appointment"></activity>
        <activity
            android:name=".activity.Activity_Campaign_Add"
            android:label="Add Campaign"></activity>
        <activity
            android:name=".activity.Activity_Dashboard_Finance_Target"
            android:label="Finance Target"></activity>
        <activity
            android:name=".activity.Activity_Dashboard_PieChart_Target"
            android:label="Product Target"></activity>

        <activity
            android:name=".activity.Activity_Dashboard_Product_Target"
            android:label="Product Target"></activity>

        <activity
            android:name=".activity.Activity_Dashboard_Enquiry_Target"
            android:label="Product Target"></activity>

        <activity
            android:name=".activity.Activity_Appointment_description"
            android:label="Appointment Description"></activity>
        <activity
            android:name=".activity.Activity_Appoinment_Edit"
            android:label="Edit Appoinment"></activity>
        <activity
            android:name=".activity.Activity_Campaing_description"
            android:label="Campaign Description"></activity>

        <activity
            android:name=".activity.Activity_Enquiry_Description"
            android:label="Enquiry Description"></activity>

        <activity
            android:name=".activity.Activity_Enquiry_Process"
            android:label="Enquiry Process"></activity>

        <activity
            android:name=".activity.Ativity_Dash"
            android:label="Enquiry Process"></activity>

        <activity android:name=".activity.Activity_FollowUp"
            android:label="Follow Ups"></activity>

        <activity android:name=".activity.Activity_Quotation"
            android:label="Quotation Preview"></activity>

    </application>

</manifest>